<h2>{{title_text}}</h2>
<form class="clearfix">
  <input type="text" id="location-address" name="address" value="{{address}}" placeholder="Address, e.g. 800 Market Street" />
  <input type="text" id="location-name" name="name" value="{{name}}" placeholder="Label, e.g. Office" />
  <input type="hidden" id="location-lat" name="lat" value="{{lat}}" />
  <input type="hidden" id="location-lng" name="lng" value="{{lng}}" />
  <button type="submit" id="location-submit" class="float-left" disabled>{{button_text}}</button>
  {{#can_delete}}
  <button type="button" data-action="delete" class="float-right danger">Delete Location</button>
  {{/can_delete}}
</form>
