<div class="buttons">
  <button href="{{mapUrl}}" class="map">View Map</button>
  <button href="{{editUrl}}">Edit</button>
</div>
<img href="{{mapUrl}}" src="{{mapSrc}}" width="{{mapSize}}" height="{{mapSize}}" />
<div class="content">
  <h3>{{title}}</h3>
  {{#hasAddress}}
    <h4>{{address}}</h4>
  {{/hasAddress}}
</div>
