<div class="buttons">
  <button href="{{editUrl}}">Edit</button>
</div>
<img src="{{mapUrl}}" width="{{mapSize}}" height="{{mapSize}}" />
<div class="content">
  <h3>{{title}}</h3>
  {{#hasAddress}}
    <h4>{{address}}</h4>
  {{/hasAddress}}
</div>
